<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgZdxjkK06MEPMJXUBhgcdaVd2dTi0e1E</string>
	<key>GCM_SENDER_ID</key>
	<string>675748520843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.swiftbook.NoteKeeper</string>
	<key>PROJECT_ID</key>
	<string>notekeeper-44fcc</string>
	<key>STORAGE_BUCKET</key>
	<string>notekeeper-44fcc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675748520843:ios:c6339acbd9c6ac968ac58e</string>
</dict>
</plist>